.fondo-imagen{
    /*background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(img/cocina1.jpg);
    height: 21rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;*/

}
body{
    background-color: #000;
}
.carousel{
    width: 100%;
    height: 550px;
}
.header__texto{
    text-align: center;
    color: white;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10px;
    color: white;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition:  all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding:  0 20px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li :hover{
    color: #ffbc0e;
}
.header .btn button,.btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover,.btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}
.separacion{
    margin: 0;
    padding: 0;
}
.second-row{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-decoration: none;
    color: #eceff1 ;
    background-color:#1b3039 ;
    list-style: none;
    text-decoration: none;
    text-align: center;
}
.second-row li:hover{
    transform: scale(1.1);
}
.second-row a:hover{
    transform: scale(1.1);
    color: #ffbc0e;
}

.second-row li{
    padding: 10px 0;
    cursor: pointer;
}
ul{
    margin: 0;
}
ul, li s{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilo para el enlace dentro del li */
li a {
    text-decoration: none;
    color: #eceff1; /* Elimina la decoración del texto (subrayado) */ /* Cambia el color del texto a negro o al color que desees */
    /* Otros estilos adicionales según sea necesario */
}
.titulo{
    background-color: black;
    text-align: center;
    color: white;
}
.espacio{
  padding: 50px;  
}
.searchbar{
    position: relative;
}
        
.button-search{
    background-color: crimson;
    padding: 10px 15px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius:0 5px 5px 0;
    color: #fff;
    cursor: pointer;
   }

   button:hover{
    background-color: rgba(0 0 0 / .2);
   }
   input{
    width: 650px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
   }
   .imagenes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 50px;
   }
   .tamano{
    height: 400px;
    width: 400px;
   }
   .conclusiones{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #000;
    color: white;
    padding:50px;
    text-align: center;
   }
   